@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.list {
  list-style: none;
}

.title {
  padding-left: 24px;
}

.space {
  margin-right: 15px;
}

.index-post {
  list-style: none;
  border-top: solid 1px #DDD;
}

.recruit {
  border-bottom: solid 1px #DDD;
}

.recruit-list {
  list-style: none;
  border-top: solid 1px #DDD;
  margin: 0;
  padding: 0;
}

.message-list {
  list-style: none;
  border-top: solid 1px #DDD;
  margin: 0;
  padding: 0;
}

.message {
  border-bottom: solid 1px #DDD;
}

.team {
  border-bottom: solid 1px #DDD;
}

.team-list {
  border-top: solid 1px #DDD;
  margin: 0;
  padding: 0;
}



ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.text-l {
  float: left;
  text-align: left;
}

.text-r {
  text-align: right;
}

.author {
  margin-top: 1px;
}

.heart {
  color: #888;
}

.sub {
  color: #888;
  font-size: 13px;
}

.tag {
  padding: 3px;
  border: 1px solid #888;
  border-radius: 3px;
  font-size: 15px;
}

.mb-10 {
  margin-bottom: 10px;
}